PORT=3001
ATLAS_CONNECTION_STRING=mongodb+srv://<ATLAS_CLUSTER_DB_USER_NAME>:<ATLAS_CLUSTER_DB_PASSWORD>@debugassistantcluster.snbi2xe.mongodb.net/?retryWrites=true&w=majority&appName=DebugAssistantCluster
GEMINI_API_KEY=<GOOGLE_STUDIO_API>